<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qs.evertoken">

    <application
        android:name="com.smallcat.shenhai.mvpbase.App"
        android:allowBackup="true"
        android:icon="@mipmap/main_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
    </application>

    <!--适配19:9全面屏黑边问题：https://blog.csdn.net/darkeet/article/details/80049913-->
    <meta-data
        android:name="android.max_aspect"
        android:value="2.2"/>

</manifest>