<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qs.modulemain">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ScanActivity" />
        <activity android:name=".ui.activity.WalletActivity" />
        <activity android:name=".ui.activity.my.AddressManageActivity" />
        <activity android:name=".ui.activity.PayActivity" />
        <activity android:name=".ui.activity.my.CollectActivity" />
        <activity android:name=".ui.activity.my.AddAddressActivity" />
        <activity android:name=".ui.activity.my.ImportAddressActivity" />
        <activity android:name=".ui.activity.my.ExportActivity" />
        <activity android:name=".ui.activity.my.JoinCommunitiesActivity" />
        <activity android:name=".ui.activity.my.SettingActivity" />
        <activity android:name=".ui.activity.my.LanguagesActivity" />
        <activity android:name=".ui.activity.my.HelpCenterActivity" />
        <activity android:name=".ui.activity.my.CurrencySettingActivity" />
        <activity android:name=".ui.activity.my.NodeSettingActivity"></activity>
    </application>

</manifest>